Node-Red/flow_ArduinoSerialDebugger.json
[{"id":"a3cc5aa0.c85798","type":"tab","label":"SerialDebugger","disabled":false,"info":""},{"id":"3e06e04d.81ea","type":"serial in","z":"a3cc5aa0.c85798","name":"Read COM5","serial":"8a2db738.764a48","x":110,"y":40,"wires":[["e43476ca.02ebe8","d1f08ff2.7b802"]]},{"id":"e43476ca.02ebe8","type":"function","z":"a3cc5aa0.c85798","name":"Parser","func":"var tmp = flow.get(\"MSG\");\n\nif(msg.payload.charAt(0) == \"[\")\n{\n    var pins = msg.payload.split(\",\");\n    pins.shift(); // remove first elem\n    msg.pwm = pins.splice(0,7);\n    msg.din = pins.splice(0,11);\n    msg.dout = pins.splice(0,20);\n    msg.analog = pins.splice(0,16);\n    \n    var st = Number(pins);\n    switch(st){\n        case 1 : msg.state = \"MANUAL\";   break;\n        case 2 : msg.state = \"AUTO\";     break;\n        case 3 : msg.state = \"CHANGE\";   break;\n        case 4 : msg.state = \"EMG STOP\"; break;\n        default: msg.state = \"UNKNOWN\";\n    }\n    \n    msg.date = (new Date()).toLocaleTimeString();\n    \n\tif(tmp && tmp.hasOwnProperty(\"console\")) {\n\t   msg.console = tmp.console ;\n\t}\n}\nelse {\n    if(tmp && tmp.hasOwnProperty(\"pwm\")) \n\t{\n        if( tmp.hasOwnProperty(\"console\") )\n\t        tmp.console += msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"</br>\");\n\t    else tmp.console = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"</br>\");\n\t\t\n\t   msg = tmp ;\n    } else {\n\t\tmsg.console = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"</br>\");\n\t}\n}\n\nmsg.payload = \"\";\nflow.set(\"MSG\",msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":160,"wires":[["9ad35e88.5570e","c463eb53.779d28","68b6c0c7.7803d","a258ae1c.b3dbe","819b6af9.82e308","46e63b2c.a2e034","a02cec5c.954cf","d1f08ff2.7b802"]]},{"id":"e38cf473.9892a8","type":"inject","z":"a3cc5aa0.c85798","name":"Tester Pins","topic":"","payload":"[,517,503,432,372,389,345,332,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,322,318,322,401,441,432,402,399,368,352,349,316,305,295,303,339,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["e43476ca.02ebe8"]]},{"id":"9ad35e88.5570e","type":"ui_template","z":"a3cc5aa0.c85798","group":"8cfacfd9.1c233","name":"PWM Outputs","order":1,"width":0,"height":0,"format":"<table id=\"pwm\" border=\"1\">\n  <tr>\n\t<th>D3</th>\n    <th>D4</th>\n    <th>D5</th>\n    <th>D6</th>\n    <th>D7</th>\n    <th>D8</th>\n    <th>D9</th>\n   </tr>\n   <tbody>\n      <tr>\n         <td ng-repeat=\"pwm in msg.pwm\">{{pwm}}</td>\n      </tr>\n   </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":80,"wires":[[]]},{"id":"a258ae1c.b3dbe","type":"ui_template","z":"a3cc5aa0.c85798","group":"f908bb09.5b9178","name":"Digital Inputs","order":1,"width":0,"height":0,"format":"<table id=\"di\" border=\"1\">\n   <tr>\n      <th>D22</th>\n      <th>D23</th>\n      <th>D24</th>\n      <th>D25</th>\n      <th>D26</th>\n      <th>D27</th>\n      <th>D28</th>\n      <th>D29</th>\n      <th>D30</th>\n      <th>D31</th>\n      <th>D32</th>\n   </tr>\n   <tbody>\n      <tr>\n         <td ng-repeat=\"din in msg.din track by $index\">{{din}}</td>\n      </tr>\n   </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":450,"y":120,"wires":[[]]},{"id":"c463eb53.779d28","type":"ui_template","z":"a3cc5aa0.c85798","group":"974af411.bd7c38","name":"Digital Outputs","order":1,"width":0,"height":0,"format":"<table id=\"do\" border=\"1\">\n   <tr>\n      <th>D33</th>\n      <th>D34</th>\n      <th>D35</th>\n      <th>D36</th>\n      <th>D37</th>\n      <th>D38</th>\n      <th>D39</th>\n      <th>D40</th>\n      <th>D41</th>\n      <th>D42</th>\n      <th>D43</th>\n      <th>D44</th>\n      <th>D45</th>\n      <th>D46</th>\n      <th>D47</th>\n      <th>D48</th>\n      <th>D49</th>\n      <th>D50</th>\n      <th>D51</th>\n      <th>D52</th>\n   </tr>\n   <tbody>\n      <tr>\n         <td ng-repeat=\"dout in msg.dout track by $index\">{{dout}}</td>\n      </tr>\n   </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460,"y":160,"wires":[[]]},{"id":"68b6c0c7.7803d","type":"ui_template","z":"a3cc5aa0.c85798","group":"65f67129.4346d","name":"Analog Inputs","order":1,"width":0,"height":0,"format":"<table id=\"analog\" border=\"1\">\n   <tr>\n      <th>A0</th>\n      <th>A1</th>\n      <th>A2</th>\n      <th>A3</th>\n      <th>A4</th>\n      <th>A5</th>\n      <th>A6</th>\n      <th>A7</th>\n      <th>A8</th>\n      <th>A9</th>\n      <th>A10</th>\n      <th>A11</th>\n      <th>A12</th>\n      <th>A13</th>\n      <th>A14</th>\n      <th>A15</th>\n   </tr>\n   <tbody>\n      <tr>\n         <td ng-repeat=\"analog in msg.analog track by $index\">{{analog}}</td>\n      </tr>\n   </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":200,"wires":[[]]},{"id":"819b6af9.82e308","type":"ui_text","z":"a3cc5aa0.c85798","group":"c120eacf.7401e8","order":0,"width":0,"height":0,"name":"Last Updated At","label":"Last Updated At : ","format":"{{msg.date}}","layout":"row-left","x":400,"y":320,"wires":[]},{"id":"46e63b2c.a2e034","type":"ui_text","z":"a3cc5aa0.c85798","group":"c120eacf.7401e8","order":0,"width":0,"height":0,"name":"System State","label":"System State >","format":"{{msg.state}}","layout":"row-left","x":430,"y":240,"wires":[]},{"id":"525e41ca.8356d","type":"inject","z":"a3cc5aa0.c85798","name":"Tester Console","topic":"","payload":"This is a sample text </br> in a new line... </br> another line \\r\\n one more","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["e43476ca.02ebe8"]]},{"id":"a02cec5c.954cf","type":"ui_template","z":"a3cc5aa0.c85798","group":"eedf2b47.c6a778","name":"Console Msg","order":1,"width":0,"height":0,"format":"<style>\ndiv.scrolling\n{\nheight:240px;\noverflow:scroll;\nfloat: left;\n}\n</style>\n<div class=\"scrolling\" ng-bind-html=\"msg.console\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":280,"wires":[[]]},{"id":"d1f08ff2.7b802","type":"debug","z":"a3cc5aa0.c85798","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":40,"wires":[]},{"id":"8a2db738.764a48","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"8cfacfd9.1c233","type":"ui_group","z":"","name":"PWM OUT","tab":"949bfc37.5bad4","order":1,"disp":true,"width":"7","collapse":false},{"id":"f908bb09.5b9178","type":"ui_group","z":"","name":"DIGITAL INPUTS","tab":"949bfc37.5bad4","order":2,"disp":true,"width":"9","collapse":false},{"id":"974af411.bd7c38","type":"ui_group","z":"","name":"DIGITAL OUTPUTS","tab":"949bfc37.5bad4","order":3,"disp":true,"width":"16","collapse":false},{"id":"65f67129.4346d","type":"ui_group","z":"","name":"ANALOG INPUTS","tab":"949bfc37.5bad4","order":4,"disp":true,"width":"16","collapse":false},{"id":"c120eacf.7401e8","type":"ui_group","z":"","name":"System  State >","tab":"949bfc37.5bad4","order":6,"disp":false,"width":"6","collapse":false},{"id":"eedf2b47.c6a778","type":"ui_group","z":"","name":"Console Msg > ","tab":"949bfc37.5bad4","order":7,"disp":true,"width":"16","collapse":false},{"id":"949bfc37.5bad4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]